<!-- SETUP Contact Email -->
<% const contactEmail = "dubeytech.email@gmail.com" %>
<!-- SETUP Contact Email Ends here-->

<!-- Don't change the code below -->
<div class="container">
  <h2 class="section-title">Contact Us</h2>
  <div data-aos="zoom-in-up" class="contact-main">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23152.51236203077!2d172.55300430739626!3d-43.50099947816067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d318b30307cda61%3A0x500ef8684796390!2sBurnside%2C%20Christchurch!5e0!3m2!1sen!2snz!4v1626697213967!5m2!1sen!2snz"
        allowfullscreen="" loading="lazy">
      </iframe>
    </div>
    <div class="contact-form">
      <!-- <h1><i class="fas fa-mobile-alt"></i> Contact us </h1> -->
      <form action="mailto:<%= contactEmail %>">
        <input name="name" type="text" placeholder="Full name">
        <input name="email" type="email" placeholder="Your email ">
        <textarea name="message" cols="30" rows="10" placeholder="Your message..."></textarea>
        <button>Send</button>
      </form>
    </div>

  </div>
</div>