<div class="container">
  <div class="contact-main">
    <div class="one">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23152.51236203077!2d172.55300430739626!3d-43.50099947816067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d318b30307cda61%3A0x500ef8684796390!2sBurnside%2C%20Christchurch!5e0!3m2!1sen!2snz!4v1626697213967!5m2!1sen!2snz"
        allowfullscreen="" loading="lazy">
      </iframe>
    </div>
    <div class="two">
      <h1><i class="fas fa-mobile-alt"></i> Contact us </h1>
      <form action="">
        <input type="text" placeholder="Full name.....">
        <input type="email" placeholder="Email..... ">
        <textarea name="" id="" cols="30" rows="10" placeholder="Massage..."></textarea>
        <button>Send</button>
      </form>
    </div>

  </div>
</div>