<!----- Footer  ----->
<link rel="stylesheet" href="/css/footer.css">
<footer>
  <div class="container">

    <div class="footer-section">
      <div data-aos="fade-up" class="f-column">
        <h4>CONTACT US</h4>
        <ul>
          <li>TELEPHONE: <a href="tel:+91 8888 8888">+91 8888 8888</a></li>
          <li>E-MAIL: <a href="mailto:test@gmail.com">test@gmail.com</a></li>
        </ul>
      </div>
      <div data-aos="fade-up" class="f-column">
        <h4>OUR SERVICES</h4>
        <ul>
          <li>Software development</li>
          <li>Web development</li>
          <li>Android Development</li>
        </ul>
      </div>
      <div data-aos="fade-up" class="f-column">
        <h4>OTHER SERVICES</h4>
        <ul>
          <li>Content writing</li>
          <li>Blog Design</li>
          <li>On page SEO</li>
        </ul>
      </div>
      <div data-aos="fade-up" class="f-column">
        <h4>Keep in touch</h4>
        <a href="#fb">
          <i data-aos="zoon-in-down" class="fab social-icon fa-facebook"></i>
        </a>
        <a href="#tw">
          <i data-aos="zoon-in-down" class="fab social-icon fa-twitter"></i>
        </a>
        <a href="#ig"> <i data-aos="zoon-in-down" class="fab social-icon fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="copyright">
      <p> &copy; Company 2021. ALL RIGHTS RESERVED. </p>
      <p><a href="/terms-condition">Terms & conditions</a> | <a href="/privacy-policy">Privacy policy</a></p>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>

</html>