<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- AOS CDN -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/main.css">
  <!-- JS -->
  <script src="/js/navbar.js"></script>
  <script src="/js/darkmode.js"></script>
  <!-- Title -->
  <title>JP-PIXEL</title>
</head>

<body>
  <!-- Navbar -->
  <header>
    <div class="Navbar">
      <div class="brand">
        <a href="index.html">
          <h1> JP-PIXEL </h1>
        </a>
        <div id="ham-icon" class="">
          <span></span><span></span><span></span>
        </div>
      </div>
      <div class="nav">
        <a href="/">HOME</a>
        <a href="/services">SERVICES</a>
        <a href="/about">ABOUT US</a>
        <a href="/contact">CONTACT US</a>
      </div>
    </div>
  </header>
  <!-- Navbar END -->