<!-- css -->
<link rel="stylesheet" href="/css/services.css">
<div class="services-main">
  <div class="container">
    <div class="services">
      <div class="icon">
        <!-- Coming soon -->
      </div>
      <h1 class="section-title">Services</h1>
      <div class="services row">
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="center-bottom"">
          <i class=" fas fa-mouse fa-3x mb-4"></i>
          <h4>Web Design</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
          <a class="readmore" href="./contact.html"><span>Contact us</span></a>
        </div>
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="center-bottom"">
          <i class=" fas fa-camera-retro fa-3x mb-4"></i>
          <h4>Photography</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
          <a class="readmore" href="./contact.html"><span>Contact us</span></a>
        </div>
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="center-bottom"">
          <i class=" fab fa-youtube fa-3x mb-4"></i>
          <h4>Video Editing</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
          <a class="readmore" href="./contact.html"><span>Contact us</span></a>
        </div>
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="center-bottom"">
          <i class=" fas fa-pencil-alt fa-3x mb-4"></i>
          <h4>Writing</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
          <a class="readmore" href="./contact.html"><span>Contact us</span></a>
        </div>
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="center-bottom"">
          <i class=" fas fa-laptop-code fa-3x"></i>
          <h4>Coding</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
          <a class="readmore" href="./contact.html"><span>Contact us</span></a>
        </div>
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="center-bottom"">
          <i class=" fas fa-mobile-alt fa-3x mb-4"></i>
          <h4>App Developing</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
          <a class="readmore" href="./contact.html"><span>Contact us</span></a>
        </div>
      </div>
    </div>
  </div>
</div>