<div class="services-main">
  <div class="container">
    <div class="services">
      <h1 class="section-title">Services</h1>
      <div class="services row">
        <% for( let i = 0; i < services.length; i++ ) { %>
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
          <i class="<%= services[i].iconClass %> "></i>
          <h4><%= services[i].name %> </h4>
          <p><%= services[i].info %></p>
          <a class="readmore" href="#contact"><span>Contact us</span></a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>