<!-- FLICKITY CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- FLICKITY JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<div class="container">
  <h2 class="section-title">Testimonials</h2>
  <div class="carousel js-flickity" data-flickity-options='{ "wrapAround": true }'>
    <% for( let i = 0; i < testimonials.length; i++ ) { %>
    <div class="carousel-cell">
      <div class="review">
        <h3><%= testimonials[i].reviewTitle %></h3>
        <p><%= testimonials[i].reviewText %></p>
      </div>
      <div class="customer">
        <img src="/images/customers/c<%= i + 1 %>.jpg" alt="customer">
        <h4> <%= testimonials[i].customerName %> </h4>
      </div>
    </div>
    <% } %>
  </div>
</div>