.work-item {
  margin: 20px auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.work-item img {
  width: 100%;
  border-bottom: 3px solid #e33;
}

.work-content {
  background: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  bottom: -100%;
  transition: all 0.5s;
}

.work-item:hover .work-content {
  bottom: 0;
  border-top: 3px solid #e33;
}

.work-content h3 {
  padding: 0 0 5px;
  font-size: 18px;
}

.work-content p {
  font-size: 14px;
}

.work-content button {
  background: linear-gradient(#ee3333, #ff4444);
  border: 2px solid #c11111;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  margin: 10px auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  border-radius: 15px;
}

.work-content button:hover {
  background: #fff;
  color: #cc1111;
}

@media screen and (min-width:720px) {

  .work-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .work-item {
    width: 330px;
    height: 210px;
    margin: 30px 10px;
  }

  .work-content {
    padding: 15px;

  }

  .work-content button {
    font-size: 16px;
    line-height: 35px;
  }
}